.header{
  height: 100px;
  border-bottom: 1px solid black;
}

.container{
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
}

.list{
  padding: 20px;
}