.img {
  width: 480px;
}

.title {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin: 50px 0px;
}

.figure {
  white-space: nowrap;
  padding: 10px 0px 60px 0px;
  margin: 0px;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.top {
  padding-top: 100px;
}
